/* ⚡⚡ CONSTANTES ⚡⚡ */
.contenedor{
    /* width: 1000px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* ⚡⚡ HEADER ⚡⚡ */
header{
    background-color: #273b47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
header img{
    width: 100px;
    display: block;
}
header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
/* header ul li:not(:last-child){
    border-right: 2px solid white;
} */
/* nth-child */
/* #primer-li{
    background-color: peru;
} */

/* DONT REPEAT YOURSELF - DONT DO TOO MUCH CODE */
/* #primer-li,
#segundo-li,
#tercer-li{
    background-color: peru;
} */

.border-derecho{
    border-right: 2px solid white;
}
/* .font-20{
    font-size: 30px;
} */
header ul li:last-child a{
    background-color: #e74c3c;
    padding: 3px 15px;
    border-radius: 5px;
    /* 
        background: color, img, position, tamaño;
        background-color: solo al color de fondo
        background-position: solo hace referencia a la posicion
    */
}
header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
}
.menu{
    color: white;
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

/* ⚡⚡ PORTADA ⚡⚡ */
.portada {
    background-color: #efefef;
}

/* .portada div{
    border: 5px solid red;
} */
.portada div form {
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    /* margin: 10px 0 10px 0; */
    padding: 10px 0;
}
form input{
    margin-right: 5px;
}
form button{
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 3px;
}
.portada div article img {
    width: 100%;
    display: block;
}
.portada div article{
    position: relative;
}
.data{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255,255,255,.7);
    padding: 20px;
}
.data h2{
    margin: 0;
}

.info{
    display: flex;
    justify-content: space-between;
}

/* ⚡⚡ PUBLICACIONES ⚡⚡ */
.publicaciones{
    /* background-color: peru; */
    /* margin-top: 50px; */
    /* padding-top: 50px; */
    padding: 20px 0;
}
.publicaciones .contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.publicaciones .contenedor article{
    /* width: 30%; */
    /* width: 200px; */
    /* width: 300vw; */
    /* 120px - 20px = 100px*/
    width: calc(100% / 3 - 20px);
    margin-bottom: 30px;
}
.publicaciones .contenedor article img{
    width: 100%;
    display: block;
}
.publicaciones .contenedor article div div{
    display: flex;
    justify-content: space-between;
}
/* ⚡⚡ FOOTER ⚡⚡ */
footer{
    text-align: center;
    padding: 30px 0;
}
footer span{
    color: rgba(0,0,0,.5);
    margin-right: 20px;
}
footer a{
    text-decoration: none;
    background-color: #eaeaea;
    color: #4d4d4d;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    /* margin-right: 10px; */
    display: inline-block;
    margin-bottom: 10px;
}

footer a:not(:last-child){
    margin-right: 10px;
}
footer a.activo{
    background-color: transparent;
    border: none;
}

/* ⚡⚡ RESPONSIVE DESIGN ⚡⚡ */
/* ⚡⚡ MEDIA QUERIES - BREAKPOINTS ⚡⚡ */
/* ⚡⚡ DESDE ESCRITORIO A CELULAR ⚡⚡ */

@media only screen and (max-width: 900px){
    /* ⚡⚡ PORTADA ⚡⚡*/
    .data{
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 740px){
    /* ⚡⚡ HEADER ⚡⚡*/
    header ul{
        display: none;
    }
    .menu{
        display: block;
    }

    /* ⚡⚡ PORTADA ⚡⚡*/
    .data{
        position: unset;
    }

    /* ⚡⚡ PUBLICACIONES ⚡⚡*/
    .publicaciones .contenedor article{
        width: calc(50% - 15px);
    }
}
@media only screen and (max-width: 550px){
    .publicaciones .contenedor article{
        width: 100%;
    }
}