.servicios{
    &__contenedor{
        &__box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item{
                width: calc(100% / 3 - 2rem);
                @media only screen and (max-width: $bp-medium){
                    width: 100%;
                    &:not(:last-child){
                        margin-bottom: 3rem;
                    }
                }
                &--logo{
                    width: 12.8rem;
                    height: 12.8rem;
                    background-color: #fec503;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 6.4rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}